.Collapse {
  background-color: var(--bg-elev-1);

  :global(>.ant-collapse-item:last-child>.ant-collapse-header) {
    padding: 4px;
    padding-left: 12px;
    align-items: center;
  }

  :global(.ant-collapse-content>.ant-collapse-content-box) {
    max-height: 400px;
    overflow: auto;
  }
}