.Skeleton {
  animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .Skeleton.Skeleton {
    background-image: none;
    -webkit-text-fill-color: currentColor;
    animation: none;
  }
}
